<?xml version="1.0"?>
<ruleset name="WordPress coding standards">
	<arg name="extensions" value="php" />
	<arg value="s" /><!-- Show sniffs in all reports. -->

	<rule ref="WordPress-Docs" />

	<rule ref="WordPress-Core">
		<exclude name="WordPress.Files.FileName" />
		<exclude name="Generic.Formatting.MultipleStatementAlignment" />
	</rule>

	<exclude-pattern>/vendor/</exclude-pattern>
	<exclude-pattern>*/js/dist/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
</ruleset>
